.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #0b6983;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 50px;
  color: antiquewhite;
}

.game-board {
  font-size: 20px;
  color: antiquewhite;
}

/* Question Button */

.get-question > button {
  font-size: 20px;
  width: 8em;
  height: 50px;
  color: antiquewhite;
  border: solid black 1px;
  border-radius: 15px;
  background-color: rgb(207, 152, 33);
}

.get-question > button:hover {
  background-color: rgb(71, 64, 64);
}

/* Answer Button */
.game-answers > button {
  font-size: 20px;
  width: 20em;
  height: 50px;
  color: antiquewhite;
  border: solid black 1px;
  background-color: rgb(8, 7, 88);
}
.game-answers > button:hover {
  background-color: rgb(71, 64, 64);
}

/* Score Buttons */
.score-buttons > button {
  margin: 5px;
  font-size: 20px;
  width: 5em;
  height: 50px;
  color: antiquewhite;
  border: solid black 1px;
  border-radius: 15px;
}

#decrease {
  background-color: rgb(194, 83, 83);
}

#increase {
  background-color: rgb(35, 118, 121);
}

#reset {
  color: black;
  background-color: red;
}
