body {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.App {
  text-align: center;
  background-color: #0b6983;
  width: 75vw;
  height: 90vh;
}

h1 {
  font-size: 50px;
  color: antiquewhite;
}
